body {
    font-family: Arial, sans-serif;
    background: url('https://htmart.vn/images/blog/5/maxresdefault.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.form-container {
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .form input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .form button {
        padding: 15px;
        border: none;
        border-radius: 5px;
        background-color: #28a745;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .form p {
        margin: 0;
        text-align: center;
    }

.hidden {
    display: none;
}
